<h4 class="alignCenter">Football Updates</h4>

<header class="alignCenter">
  <nav>
    <ul>
      <li>
        <a
          [routerLink]="['/leagues', 'england']"
          id="englandSelect"
          routerLinkActive="router-active"
        >
          England
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/leagues', 'spain']"
          id="spainSelect"
          routerLinkActive="router-active"
        >
          Spain
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/leagues', 'germany']"
          id="germanySelect"
          routerLinkActive="router-active"
        >
          Germany
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/leagues', 'france']"
          id="franceSelect"
          routerLinkActive="router-active"
        >
          France
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/leagues', 'italy']"
          id="italySelect"
          routerLinkActive="router-active"
        >
          Italy
        </a>
      </li>
    </ul>
  </nav>
</header>
